apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "surrealdb.fullname" . }}
  labels:
    {{- include "surrealdb.labels" . | nindent 4 }}
spec:
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- if not .Values.horizontalPodAutoscaler.enabled }}
  replicas: {{ .Values.replicaCount | default 1 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "surrealdb.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "surrealdb.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "surrealdb.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.args }}
          args:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: SURREAL_NO_BANNER
              value: "true"
            - name: SURREAL_PATH
              value: {{ .Values.surrealdb.path }}
            - name: SURREAL_LOG
              value: {{ .Values.surrealdb.log }}
            - name: SURREAL_BIND
              value: 0.0.0.0:{{ .Values.surrealdb.port }}
            {{- with .Values.surrealdb.initial_user }}
            - name: SURREAL_USER
              value: {{ . }}
            {{- end }}
            {{- with .Values.surrealdb.initial_pass }}
            - name: SURREAL_PASS
              value: {{ . }}
            {{- end }}
            {{- $auth := "uninitialized" }}
            {{- if hasKey .Values.surrealdb "auth" }}
            {{- if hasKey .Values.surrealdb "unauthenticated" }}
            {{ fail "surrealdb.auth and surrealdb.unauthenticated are mutually exclusive" }}
            {{- else }}
            {{- $auth = .Values.surrealdb.auth }}
            {{- end }}
            {{- else }}
            {{- $auth = not .Values.surrealdb.unauthenticated }}
            {{- end }}
            - name: SURREAL_AUTH
              value: "{{ $auth }}"
            - name: SURREAL_UNAUTHENTICATED
              value: "{{ not $auth }}"
            {{- with .Values.surrealdb.object_cache }}
            - name: SURREAL_OBJECT_CACHE
              value: {{ . }}
            {{- end }}
            {{- with .Values.surrealdb.object_store }}
            - name: SURREAL_OBJECT_STORE
              value: {{ . }}
            {{- end }}
          {{- with .Values.podExtraEnv | uniq }}
              {{- toYaml . | nindent 12}}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.surrealdb.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if or .Values.persistence.enabled .Values.volumeMounts }}
          volumeMounts:
          {{- if .Values.persistence.enabled }}
            - name: data
              mountPath: {{ .Values.persistence.mountPath }}
          {{- end }}
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- end }}
        {{- with .Values.extraContainers }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.persistence.enabled .Values.volumes }}
      volumes:
      {{- if .Values.persistence.enabled }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "surrealdb.fullname" . }}
      {{- end }}
      {{- with .Values.volumes}}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
